# Secrets (Block in any folder)
**/.streamlit/
**/.env

# Heavy AI & Media Files (Allowing traffic.mp4 for cloud video feed)
*.pt
*.mp3
*.jpg
runs/

# Database
*.db

# Python Cache
**/__pycache__/
*.pyc